@import url('https://fonts.googleapis.com/css2?family=Alata&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500&family=Manrope:wght@700&family=Montserrat:wght@100;500&family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500&family=Josefin+Sans:wght@300&family=Manrope:wght@700&family=Montserrat:wght@100;500&family=Outfit:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
.navContainer{
    background-image: url("./images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
}
.navBox{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 64px;
}
.ham{
    display: none;
}
.navLinks, .footerLinks{
    display: inline-flex;
    height: 25px;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    width: 380px;
    height: 25px;
}
.navLinks a, .footerLinks a{
    color: #FFF;
    font-family: 'Alata';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    text-decoration: none;
}
.navLinks a:hover,.footerLinks a:hover,.icons a img:hover{
    text-decoration: 2px underline white;
    text-underline-offset: 12px;
}
.navTextBox{
    margin-top: 180px;
    margin-left: 165px;
}
.navTextBox h1{
    width: 650px;
    height: 278px;
    color: #FFF;
    font-family: 'Josefin Sans';
    font-size: 72px;
    font-style: normal;
    font-weight: 300;
    line-height: 70px; 
    text-transform: uppercase;
    border: 2px solid #FFF;
    padding: 30px;
}
.interactiveContainer{
    width: 100vw;
    height: 650px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.interactiveBox{
    display: flex;    
    width: 1111px;
    height: 500px;    
}
.interactiveBox img{
    position: relative;
}
.interactiveText{
    position: absolute;
    display: flex;
    flex-direction: column;    
    justify-content: end; 
    padding-left: 96px; 
    gap: 2rem;    
    margin-left: 570px;
    margin-top: 183px;
    width: 541px;
    height: 317px;
    background: #FFF;      
    flex-shrink: 0; 
}
.interactiveText h1{
    color: #000;
    font-family: 'Josefin Sans';
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 48px; /* 100% */
    text-transform: uppercase;
}
.interactiveContainer p{
    color: #000;
    font-family: 'Alata';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    opacity: 0.4994;
}
.creationContainer{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-left: 165px;
    padding-right: 165px;
}
.creationContainer h1{
    color: #000;
    font-family: 'Josefin Sans';
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 48px;
    text-transform: uppercase;
}
.creationContainer a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: 'Alata';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 5px;
    padding: 10px;    
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #000;
}
.creationContainer a:hover{
    border: 1px solid #000;
    background: #000;
    color: #FFF;
    transition: 0.3s;
}
.gridContainer{
    display: flex;
    justify-content:  center;
    height: 950px;
    width: 100vw;
    margin-bottom: 100px;
}
.gridBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    gap: 30px;
    row-gap: 30px;
    width: 1114px;
    height: 450px;
}
.gridImgBox{
    position: relative;
    cursor: pointer;
}
.gridImgBox p{
    position: absolute;
    left: 40px;
    bottom: 32px;
    color: #FFF;
    font-family: 'Josefin Sans';
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 100% */
    text-transform: uppercase;
}
.gridImgBox:hover img{
    opacity: 0.7;
}
.gridImgBox:hover p{
    color: #000;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 160px;
    background: #000;
    padding:44px 165px;    
}
.leftSide,.rightSide{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.leftSide img{
    width: 144px;
    height: 24px;
}
.icons{
    display: flex;
    justify-content: space-between;
    width: 144px;
    height: 24px;
}
.rightSide p{
    color: #FFF;
    font-family: 'Alata';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    opacity: 0.5;
}
.rightSide{
    justify-content: flex-end;
     align-items: flex-end;
}
.hidden{
    display: none;
}
@media (max-width:375px){ 
    .ham{
        display: block;
        background-color: transparent;
        border: none;
    }
    .navLinks{
        display: none;
    }
    .navTextBox{
       margin-top: 180px;
       margin-left: 24px;
    }
    .navTextBox h1{
        width: 327px;
        height: 196px;
        color: #FFF;
        font-family: 'Josefin Sans';
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: 38px; /* 95% */
        text-transform: uppercase;
    }
    .interactiveContainer{
        width: 100vw;
        height: 600px;        
    }
    .interactiveBox{
        display: flex;    
        flex-direction: column;
        width: 327px;
        height: 527px;   
    }
    .interactiveBox img{
        position: relative;        
    }
    .interactiveText{
        position: relative;                    
        width: 279px;     
        margin-left:20px;
        margin-top: 0px;
        padding-left:0px ;   
    }
    .interactiveText h1{
        color: #000;
        text-align: center;
        font-family: 'Josefin Sans';
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px; /* 100% */
        text-transform: uppercase;
    }
    .interactiveContainer p{
        color: #000;
        text-align: center;
        font-family: 'Alata';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 166.667% */
        opacity: 0.4994;
    }
    .creationContainer{
        flex-direction: column;
        align-items: center;       
        padding-left: 0px;
        padding-right: 0px        
    }
    .creationContainer a{
        position: absolute;
        margin-left: 0px;
        margin-top: 2000px;
    }
    .gridContainer{
        display: flex;
        justify-content:  center;
        height: 1928px;      
    }
    .gridBox{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto;        
        row-gap: 24px;
        width: 100%;
        height: 1128px;
    }
    .gridImgBox img{
        width: 100%;
        height: 200px;
    }
    footer{
        flex-direction: column;
        width: 100vw;
        height: 470px;
    }   
    .leftSide{
        width: 144px;
        height: 220px;
        justify-content: space-around;
        align-items: center;
    }
    .footerLinks{
        flex-direction: column;
        gap: 5px;
        width: 44px;
        text-align: center;
    }
    .rightSide{
        align-items: center;
    }
    .rightSide p{
        width: 272px;
    }
    .navBlackBox{
        width: 100%;
        height: 667px;
        background: #000;
        display: flex;
        flex-direction: column;
        padding: 40px;
    }
    .navBlackLinks{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 100px;
        gap: 24px;
    }
    .navBlackLinks a{
        color: #FFF;
        font-family: 'Josefin Sans';
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 25px; 
        text-transform: uppercase;
        text-decoration: none;
    }
    .logoBlackBox{
        display:  flex;
        width: 100%;
        justify-content: space-between;
    }
    .logoBlackBox .logoblack{
        width: 144px;
        height: 24px;
    }
    .logoBlackBox button{
        background-color: transparent;
        border: none;
    }
    .hidden{
        display: none;
    }
}